// Define a color variable
$color-sassy: #cc4397;
$color-blue: #0059ff;
@font-face {
    font-family: lemonada;
    src: url('../assets/Lemonada-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/Lemonada-Regular.woff') format('woff'); /* Pretty Modern Browsers */;
  }
.app {
  color: $color-blue;
  font-family: lemonada;
  font-size: 2rem;
  text-align: center;
  .sassyDiv {
    font-size: 3rem;
    color: $color-sassy;
  }
}